@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-slate-50 text-navy;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight text-navy;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #EFEAE6;
}
::-webkit-scrollbar-thumb {
  background: #97D3CD;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2D5652;
}
